@use 'colorscheme/chill' as *;

.editorContainer {
    display: flex;
    justify-content: space-around;
    .editorContainerChild {
        width: 46rem;
    }
}

.optionBar {
    background-color: $color-c;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
