@use 'colorscheme/chill' as *;

.article {
    margin-top: 70px;
    color: $color-d;

    h2 {
        font-size: 2rem;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }

    p, li {
        line-height: 1.8;
    }

    p, ul, pre {
        margin-bottom: 1rem;
    }

    code {
        border-radius: 3px;
    }

    a {
        color: darkblue;
    }

    a:hover {
        text-decoration: underline;
    }

    pre {
        overflow-x: auto;
    }

    .details {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: lighter;
        font-size: 0.75rem;
    }

    .content {
        margin-top: 20px;
        line-height: 1.5rem;
        margin-bottom: 30px;
    }
}
