@use 'colorscheme/chill' as *;

.articleCard {
    width: 100%;
    a, div {
        border: 1px solid $color-c;
        display: block;
        padding: 15px 15px 15px 15px;
        background-color: $color-b;
        border-radius: 4px;
        margin-top: 30px;
        margin-bottom: 10px;
        box-shadow: rgba($color-d, 0.1) 0px 2px 6px 0px;
        color: $color-d;
    }
    a:hover {
        box-shadow: rgba($color-d, 0.2) 0px 6px 20px 0px;
    }

    h2 {
        margin-bottom: 15px;
        font-size: 1.5rem;
    }

    .createdAt {
        font-weight: lighter;
        font-size: 0.75rem;
    }
}
