@use 'colorscheme' as *;

.editorContainer {
    display: flex;
    justify-content: space-around;
    .editorContainerChild {
        width: 46rem;
    }
}

.optionBar {
    background-color: $color-c;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.editorForm {
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    input {
        width: 50%;
        padding: 0.5rem;
        font-size: 15px;
    }

    textarea {
        width: 100%;
        padding: 0.5rem;
        font-size: 15px;
        resize: vertical;
    }
}

.editorSlug {
    display: flex;
    align-items: center;

    p {
        margin-left: 2rem;
    }
}

.editorMarkdown {
    height: 20rem;
}
