@use 'colorscheme' as *;

.editorContainer {
    display: flex;
    justify-content: space-around;
    .editorContainerChild {
        width: 46rem;
    }
}

.optionBar {
    background-color: $color-c;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.editorForm {
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.editorSlug {
    display: flex;
    p {
        margin-left: 2rem;
    }
}

.editorMarkdown {
    flex-grow: 1;
    resize: vertical;
}
