.articleEditBox {
    display: flex;
    align-items: center;
    width: 104%;
    :first-child {
        overflow: auto;
    }
}

.createArticle {
    margin-top: 30px;
    text-align: center;
    a:hover {
        text-decoration: underline;
    }
    svg {
        font-size: 1.2rem;
    }
}
