.articleEditBox {
    position: relative;
}

.createArticle {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        gap: 0.5rem;
    }
    a:hover {
        text-decoration: underline;
    }

    svg {
        font-size: 1.2rem;
    }
}
