@use 'colorscheme' as *;

.header {
    background-color: $color-d;
    color: $color-a;
    height: 120px;
    text-align: center;

    h1 {
        padding: 15px;
        font-size: 2.4rem;
    }
    a {
        padding: 15px;
    }
    a:hover {
        text-decoration: underline;
    }
}
