@use 'colorscheme/chill' as cs;

.header {
    background-color: cs.$d;
    color: cs.$a;
    height: 120px;
    text-align: center;

    h1 {
        padding: 15px;
        font-size: 2.4rem;
    }
    a {
        padding: 15px;
    }
    a:hover {
        text-decoration: underline;
    }
}
