.popup {
    position: fixed;
    width: 15vw;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.popup > div {
    padding: 1rem;
    border-radius: 3px;
    background-color: black;
}

.discardPopup {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
        display: flex;
        gap: 1rem;
    }
}
